 <!-- footer -->
   
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
           <!--Column1--> 
          <div class="footer-pad">
            <h4>Nosotros</h4>
            <ul class="list-unstyled">
              <li><a href="#">Sobre Animalandia</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Trabaja con Nosotros</a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
           <!--Column1--> 
          <div class="footer-pad">
            <h4>Servicios</h4>
            <ul class="list-unstyled">
              <li><a href="#">Veterinaria</a></li>
              <li><a href="#">Peluqueria</a></li>
              <li><a href="#">Microchips</a></li>
              <li><a href="#">Adopciones</a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
           <!--Column1--> 
          <div class="footer-pad">
            <h4>Contacto</h4>
            <ul class="list-unstyled">
              <li><a href="#">Atención Teléfonico: Numero</a></li>
              <li><a href="#">Atención Whatsapp: Numero</a></li>
              <li><a href="#">Lunes a Sábados de 9 a 21 hs, Domingos de 10 a 20 hs</a></li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-md-3">
              <h4>Síguenos</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>				
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2023 - Animalandia. Todos los Derechos Reservados.</p>
          </div>
      </div>
  
  
    </div>
    </div>
  </footer>
     