<!-- header -->
<header>
<div id="header">
    <div class="logo">
      <img src="/images/logo.png" >
    </div>  
    <nav>
      
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="">Nosotros</a>
          <ul class="mega-dropdown">
            <li class="row">
              <ul class="mega-col">
                <li><a href="#">Sobre Animalandia</a></li>
                <li><a href="#">Blog</a></li>
                
              </ul>
            </li>
          </ul>        
        </li>
        
        <% if (locals.logged) { %>
        <li>
          <a href="../productCart">Tienda</a>
        </li>
        <li class="dropdown">
          <a href="#">Bienvenido/a</a>
            <ul>
              <li><a href="/usuarios">Mi Perfil</a></li>
              <li><a href="/usuarios/logout">Cerrar Sesión</a></li>
            </ul>        
        </li>
        <% } else {%>
        <li class="dropdown">
          <a href="#">Login</a>
            <ul>
              <li><a href="/usuarios/registro">Registrarse</a></li>
              <li><a href="/usuarios/login">Iniciar Sesión</a></li>
            </ul>        
        </li>
        <li>
          <a href="../productCart">Tienda</a>
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
  </header>