* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
}


/* Formatos generales */

.s-11 {
    font-size: 11px;
}

.s-14 {
    font-size: 14px;
}

.s-16 {
    font-size: 16px;
}

.s-18 {
    font-size: 18px;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-33 {
    height: 33%;
}

.fit-cover{
    object-fit: cover;
}

.fit-contain {
    object-fit: contain;
}

.style-none {
    list-style: none;
}

.m-auto {
    margin:auto;
}

.m-0 {
    margin: 0;
}

.bg-white {
    background-color: white;
}

/* Clases particulares */

.prod-title {
    padding: 10px;
    margin: 0px;
    background-color: #384358;
    color:white;
}

.c-white {
    color: white;
}

.bg-blue {
    background-color: #384358;
}

.bg-orange {
    background-color: #F1915D;
}

.border {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 2px solid #384358;
}
.title-images {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid #384358;
}

.img-container {
    display: flex;
    margin: 0;
    height: 260px;
    padding: 10px;
    border-top: 2px solid #384358;
}

.small-images-col {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 240px;
}

.small-image {
    width: 120px;
    height: 80px;
}

.selected-image {
    width: 40%;
}

.name-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    border: 2px solid #384358;
    border-top: none;
}

.prod-name {
    margin-top: 0px;
    margin-bottom: 10px;
}

.prod-description {
    width: 100%;
    font-size: 11px;
}

.main-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #384358;
    border-top: 0;
    padding: 10px;

}

.cant-add-cart {
    display:flex;
    width: 100%;
    height: 50%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.price-button {
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: #F1915D;
    width: 100%;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    border: solid 1px #384358;
}

.cant-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 35px;
    border-radius: 10px;
}

.add-button {
    display: flex;
    height: 100%;
    color: white;
    font-size: 18px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    background-color: #F1915D;
    width: 20%;
    border-radius: 10px 0 0 10px;
    border: solid 1px #384358;
}

.remove-button {
    display: flex;
    height: 100%;
    color: white;
    font-size: 18px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    background-color: #F1915D;
    width: 20%;
    border-radius: 0px 10px 10px 0px;
    border: solid 1px #384358;
}

.cant-text {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 2px;
    border-top: solid 1px #384358;
    border-bottom: solid 1px #384358;
}

.add-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1915D;
    width: 45%;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #384358;
}

.button-carrito {
    background-color: #F1915D;
    color: white;
    font-weight: 700;
    border: none;
}

.cant-center {
    margin: 0;
}