<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- footer -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="/css/styles.css">
    <title>Edicion de productos</title>
</head>
<body>
    <div id="header">
        <div class="logo">
          <img src="/images/logo.png" >
        </div>  
        <nav>
          <form class="search" action="search.css"> 
            <input name="q" placeholder="Search..." type="search">
          </form>
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Nosotros</a>
              <ul class="mega-dropdown">
                <li class="row">
                  <ul class="mega-col">
                    <li><a href="#">Sobre Animalandia</a></li>
                    <li><a href="#">Blog</a></li>
                    
                  </ul>
                </li>
              </ul>        
            </li>
            <li class="dropdown">
              <a href="#">Login</a>
                <ul>
                  <li><a href="#">Registrarse</a></li>
                  <li><a href="#">Iniciar Sesión</a></li>
                </ul>        
            </li>
            <li>
              <a href="">Tienda</a>
            </li>
          </ul>
        </nav>
      </div>



      <form method="post" class="form-products">

        <!-- Nombre del producto -->
        <div class="ndp">
            <label for="nombre">Nombre del Producto:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <!-- Descripción -->
        <div class="dsc">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
        </div>

        <!-- Imagen -->
        <div class="img">
            <label for="imagen">Imagen:</label>
            <input type="file" id="imagen" name="imagen" accept="image/*" required>
        </div>

        <!-- Categoría -->
        <div class="cty"
            <label for="categoria">Categoría:</label>
            <input type="text" id="categoria" name="categoria" required>
        </div>

        <!-- Colores -->
        <div class="clr">
            <label for="colores">Colores (separados por comas):</label>
            <input type="text" id="colores" name="colores">
        </div>

        <!-- Precio -->
        <div class="pic">
            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio" step="0.01" required>
        </div>

        <!-- Botón de envío -->
        <div class="gp">
            <input type="submit" value="Guardar Producto">
        </div>

       <!-- footer -->
    
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Nosotros</h4>
            <ul class="list-unstyled">
              <li><a href="#">Sobre Animalandia</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Trabaja con Nosotros</a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Servicios</h4>
            <ul class="list-unstyled">
              <li><a href="#">Veterinaria</a></li>
              <li><a href="#">Peluqueria</a></li>
              <li><a href="#">Microchips</a></li>
              <li><a href="#">Adopciones</a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Contacto</h4>
            <ul class="list-unstyled">
              <li><a href="#">Atención Teléfonico: Numero</a></li>
              <li><a href="#">Atención Whatsapp: Numero</a></li>
              <li><a href="#">Lunes a Sábados de 9 a 21 hs, Domingos de 10 a 20 hs</a></li>
              
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-md-3">
              <h4>Síguenos</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>				
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2023 - Animalandia. Todos los Derechos Reservados.</p>
          </div>
      </div>
  
  
    </div>
    </div>

  </footer>
</body>
</html>