<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
     <title>Animalandia</title> 
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <! footer --> 
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    < carrusel -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
     --> 
     <%-include("partials/head") %>      
    </head>
<body>

    <!-- header -->
    <%-include("partials/header") %>  
    <!-- <header> -->
    <!-- <div id="header">
        <div class="logo">
          <img src="/images/logo.png" >
        </div>  
        <nav>
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Nosotros</a>
              <ul class="mega-dropdown">
                <li class="row">
                  <ul class="mega-col">
                    <li><a href="#">Sobre Animalandia</a></li>
                    <li><a href="#">Blog</a></li>
                    
                  </ul>
                </li>
              </ul>        
            </li>
            <li class="dropdown">
              <a href="#">Login</a>
                <ul>
                  <li><a href="#">Registrarse</a></li>
                  <li><a href="#">Iniciar Sesión</a></li>
                </ul>        
            </li>
            <li>
              <a href="">Tienda</a>
            </li>
          </ul>
        </nav>
      </div> 
      </header>-->

<!-- carrusel -->
<div class="my-5 text-center container">
    <div class="row mb-2">
       <div class="col text-center">
          <h2>Marcas Destacadas</h2>
         
       </div>
    </div>
    <div class="row d-flex align-items-center">
       <div class="col-1 d-flex align-items-center justify-content-center">
          <a href="#carouselExampleIndicators" role="button" data-slide="prev">
             <div class="carousel-nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
                   <path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"/>
                </svg>
             </div>
          </a>
       </div>
       <div class="col-10">
          <!--Start carousel-->
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
 
             <div class="carousel-inner">
                <div class="carousel-item active">
                   <div class="row">
                      <div style="background-image:url('https://puppis.vteximg.com.br/arquivos/ids/191410/Web_LogoPurinaPloplan_OUT-1.png?v=638107735093430000');" class="col-12 col-md d-flex align-items-center justify-content-center">
                      </div>
                      <div style="background-image:url('https://logodownload.org/wp-content/uploads/2018/09/royal-canin-logo-8.png');" class="col-12 col-md d-flex align-items-center justify-content-center">
                      </div>
                      <div style="background-image:url('https://puppis.vteximg.com.br/arquivos/ids/163020/Eukanuba%20150x150.png?v=636764384009700000');" class="col-12 col-md d-flex align-items-center justify-content-center" class="col-12 col-md d-flex align-items-center justify-content-center">
                    
                      </div>
                   </div>
                </div>
                <div class="carousel-item">
                   <div class="row">
                      <div style="background-image:url('https://puppis.vteximg.com.br/arquivos/ids/185680/puppis-logo-marcas.png?v=637871153631470000');" class="col-12 col-md d-flex align-items-center justify-content-center">
                      </div>
                      <div style="background-image:url('https://puppis.vteximg.com.br/arquivos/ids/163036/Ferplast%20150x150.png?v=636613804106400000');" class="col-12 col-md d-flex align-items-center justify-content-center">
                      </div>
                      <div style="background-image:url('https://puppis.vteximg.com.br/arquivos/ids/163021/Excellent%20150x150.png?v=636613090346730000');" class="col-12 col-md d-flex align-items-center justify-content-center" class="col-12 col-md d-flex align-items-center justify-content-center">
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--End carousel-->
       </div>
       <div class="col-1 d-flex align-items-center justify-content-center"><a  href="#carouselExampleIndicators" data-slide="next">
          <div class="carousel-nav-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"/>
             </svg>
          </div>
          </a>
       </div>
    </div>
 </div>


    <!-- footer -->
    <%-include("partials/footer") %>  
<!-- <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!Column1-->
          <!-- <div class="footer-pad">
            <h4>Nosotros</h4>
            <ul class="list-unstyled">
              <li><a href="#">Sobre Animalandia</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Trabaja con Nosotros</a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!-Column1-->
          <!-- <div class="footer-pad">
            <h4>Servicios</h4>
            <ul class="list-unstyled">
              <li><a href="#">Veterinaria</a></li>
              <li><a href="#">Peluqueria</a></li>
              <li><a href="#">Microchips</a></li>
              <li><a href="#">Adopciones</a></li>
              
            </ul>
          </div>
        </div> -->
        <!-- <div class="col-md-3 col-sm-6">
          <!-Column1-->
          <!-- <div class="footer-pad">
            <h4>Contacto</h4>
            <ul class="list-unstyled">
              <li><a href="#">Atención Teléfonico: Numero</a></li>
              <li><a href="#">Atención Whatsapp: Numero</a></li>
              <li><a href="#">Lunes a Sábados de 9 a 21 hs, Domingos de 10 a 20 hs</a></li>
              
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-md-3">
              <h4>Síguenos</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>				
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2023 - Animalandia. Todos los Derechos Reservados.</p>
          </div>
      </div>
   
  
    </div>
    </div>
  </footer> -->

    
    </body>
  </html>
