<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
    <link rel="stylesheet" href='./css/stylesProductDetail.css'>
</head>
<body>
    <header>
        <div class="divLogo">
            <img src="./images/logoAnimalandia.png" alt="logo-animalandia" class="logoImg">
            <h2 class="logoNombre">Animalandia</h2>
        </div>
        <nav>
            <a href="" class="aHeader">Inicio</a>
            <a href="" class="aHeader">Productos</a>
            <a href="" class="aHeader">Sobre Nosotros</a>
        </nav>
    </header>
    <section>
       <article class="articulos">
        Articulo1
       </article> 
       <article class="articulos">
        Articulo2
       </article> 
       <article class="articulos">
        Articulo3
       </article> 
    </section>
</body>
</html>