<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/stylesProductDetails.css">

    <title>Document</title>

</head>
<body>
    <section class="tituloConImagenes">
        <h2 class="fs14">COMIDA GATOS CASTRADOS - ROYAL CANIN</h2>
        <div class="divDeImagenes">
            <div class="imagenesVerticalesProducto">
                <img src="/productImages/comidaParaGatosCastrados.png" alt="img-comida-gatos-castrados" class="smallImages">
                <img src="/productImages/comidaParaGatosCastrados.png" alt="img-comida-gatos-castrados" class="smallImages">
                <img src="/productImages/comidaParaGatosCastrados.png" alt="img-comida-gatos-castrados" class="smallImages">
            </div>
            <div class="imagenPrincipalProducto">
                <img src="/productImages/comidaParaGatosCastrados.png" alt="img-comida-gatos-castrados">
            </div>
        </div>
    </section>
    <section class="nombreYDescripcion">
        <h4 class="fs13">Comida para Gatos Castrados</h4>
        <h5 class="fs12">Lo que tenés que saber de este producto:</h5>
            <ul class="fs11">
                <li>Marca: Royal Canin.</li>
                <li>Recomendado para gato adulto.</li>
                <li>Sabor: Mix.</li>
                <li>Peso: 7.5kg</li>
                <li>Las imágenes son ilustrativas. El producto puede variar según el peso.</li>
            </ul>
    </section>
    <section class="cuadros">
        <div class="cuadroPrecio">
            <div class="divDelPrecio fs12">
            <p>$</p>
            <p>20.000</p>
            </div>
        </div>
        <div class="botonesOpciones">
                <div class="botonCantidad fs12">
                    <p class="m5 bgDarkGray bold h100 w100">+</p>
                    <p class="m5">CANTIDAD</p>
                    <p class="m5 bgDarkGray bold h100 w100">-</p>
                </div>
                <div class="botonAgregarCarrito fs12">
                    <p>AGREGAR AL CARRITO</p>
                </div>
        </div>
    </section>
</body>
</html>